input[type="number"]::-webkit-outer-spin-button, input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

body, input {
  font-family: 'Press Start 2P', cursive;
  font-size: 42px;
}

body {
  background-image: url(../img/background.png);
}

input {
  display: inline;
  outline: none;
  border: none;
  background-color: #73E0FF;
}

#soundcontrol {
  text-align: right;
  padding-right: 50px;
}

#progress {
  text-align: center;
  height: 5px;
  padding-bottom: 50px;
}

#prog1, #prog2, #prog3, #prog4, #prog5, #prog6, #prog7, #prog8, #prog9 {
  border: solid 3px black;
  height: 30px;
  width: 30px;
  margin-bottom: 10px;
  display: inline-block;
  background-color: #F44336;
}

#prog10 {
  border: solid 3px black;
  height: 40px;
  width: 40px;
  margin-bottom: 10px;
  display: inline-block;
  background-color: #F44336;
}

#gamearea, #endgamearea {
  text-align: center;
  margin: auto;
}

#firstnum, #secondnum, #times, #equal {
  display: inline-block;
  text-align: center;
}

#infobox {
  display: inline-block;
  text-align: center;
}

#play {
  font-family: 'Press Start 2P', cursive;
  border: solid 3px black;
  height: 80px;
  width: 200px;
  margin-top: 40px;
  background-color: #4CAF50;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
}

#play:hover {
  background-color: #81C784;
}
