input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input[type="number"] {
    -moz-appearance: textfield;
}

body, input {
  font-family: 'Press Start 2P', cursive;
  font-size: 42px;
}

body {
  background-image: url(../img/background.png);
}

input {
  display: inline;
  outline: none;
  border: none;
  background-color: #73E0FF;
}

#soundControl {
  text-align: right;
  padding-right: 50px;
}

#progress {
  text-align: center;
  height: 5px;
  padding-bottom: 50px;
}

#prog1, #prog2, #prog3, #prog4, #prog5, #prog6, #prog7, #prog8, #prog9 {
  border: solid 3px black;
  height: 30px;
  width: 30px;
  margin-bottom: 10px;
  display:inline-block;
  background-color: #F44336;
}

#prog10 {
  border: solid 3px black;
  height: 40px;
  width: 40px;
  margin-bottom: 10px;
  display:inline-block;
  background-color: #F44336;
}

#gameArea {
  text-align: center;
  margin: auto;
}

#firstNum, #secondNum, #times, #equal {
  display:inline-block;
  text-align: center;
}

#infobox {
  color: #F44336;
  display:inline-block;
  text-align: center;
}
